<div class="NavBar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">
                <img src="assets/img/logo/coca_cola.png" alt="coca cola" class="image-fluid" width="80px">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="Active" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="Active" routerLink="/default">Información</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Acerca de Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Ayuda</a>
        </li>
    </ul>
</div>